@use 'utilities' as *;

@mixin queries {
  // Hover effects
  @media (hover: hover) {
    img[alt*='Icon']:hover {
      animation: breathe 0.6s ease-in infinite alternate;
    }
    img[alt*='Screenshot']:hover {
      animation: enlarge 0.2s ease-out forwards 0.3s;
      z-index: 1;
    }
  }
}
