@use 'utilities' as *;
@use 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 400;
}

img[alt*='Icon'] {
  filter: invert(85%) sepia(27%) saturate(1960%) hue-rotate(329deg)
    brightness(102%) contrast(101%);
}

:focus {
  outline: 3px solid var(--main-colour);
  outline-offset: 4px;
  border-radius: 8px;
}

body {
  background: linear-gradient(
    169deg,
    var(--light-bg-colour) 24%,
    var(--bg-colour) 24% 100%
  );
  color: var(--main-colour);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 92px;
  padding: 2em;
}

header {
  display: flex;

  .image-header {
    max-width: 300px;

    .image-wrapper {
      position: relative;

      img {
        width: 2000px; // Have no idea why I need this for a smaller image to render full-size...
        max-width: 100%;
        border-radius: 4px;
        box-shadow: var(--header-footer-shadow);
      }

      .caption {
        position: absolute;
        bottom: 0;
        padding: 0.2em;
        font-size: min(3rem, calc(1rem + 3vw));
        width: 100%;
        text-align: center;
      }
    }
  }

  .about-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-me {
      background-color: var(--bg-colour);
      padding: 1em;
      box-shadow: var(--header-footer-shadow);

      .caption-tablet {
        display: none;
      }

      img[alt=''] {
        display: none;
      }
    }

    .about-me-title {
      padding: 1em 0;
    }

    .about-me-description {
      color: var(--secondary-colour);
      font-size: 0.9rem;
      line-height: 2;
    }

    .about-me-icons {
      display: flex;
      justify-content: end;
      gap: 16px;
      padding: 1em;

      img {
        width: 28px;
      }
    }
  }
}

main {
  .projects-title {
    padding: 1em 0;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 48px;

    .project-card {
      display: flex;
      flex-direction: column;
      background-color: var(--project-card-bg-colour);
      box-shadow: var(--card-shadow);
      border-radius: 8px;

      img[alt*='Screenshot'] {
        min-width: 275px;
        object-fit: contain;
        border-radius: 8px;
        outline: 1px solid var(--project-card-bg-colour);
      }

      .project-card-wrapper {
        padding: 0.75em;

        img[alt*='Icon'] {
          width: 22px;
        }

        .project-name-line {
          display: flex;
          align-items: center;
          gap: 12px;

          .project-name {
            font-size: 1.3rem;
            margin-right: auto;
            padding: 0.5em 0;
            font-weight: 700;
          }
        }

        .project-description {
          line-height: 1.5;
          font-size: 0.8rem;
          color: var(--secondary-colour);
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--light-bg-colour);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 2em;

  img[alt*='Icon'] {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
      brightness(104%) contrast(104%);
    width: 24px;
  }

  .contact-me {
    .contact-me-title {
      padding: 0.5em 0;
    }

    .contact-me-description {
      padding-top: 0.5em;
    }

    .contact-me-address-line-1 {
      padding-top: 1.5em;
    }

    .contact-me-address-line-2 {
      padding-bottom: 1.5em;
    }

    .phone-line,
    .email-line {
      display: flex;
      gap: 8px;
    }

    .contact-me-icons {
      margin-top: 1.5em;
      display: flex;
      gap: 16px;

      img {
        width: 44px;
      }
    }
  }

  .image-footer {
    max-width: 500px;

    img {
      max-width: 100%;
      border-radius: 4px;
      box-shadow: var(--header-footer-shadow);
    }
  }
}

// Load media queries
// Goes at the end
@include media.queries;
