@use 'utilities' as *;
@use 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 400;
}

img[alt*='Icon'] {
  filter: var(--icon-colour);
}

body {
  background: linear-gradient(
    169deg,
    rgb(99, 89, 0) 40%,
    rgb(40, 40, 40) 40% 100%
  );
  color: var(--main-colour);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  max-height: 100svh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr 1fr;
  padding: 32px;
}

header {
  display: flex;

  .image-header {
    max-width: 300px;

    .image-wrapper {
      position: relative;

      img {
        max-width: 100%;
        border-radius: 4px;
        box-shadow: var(--header-shadow);
      }

      .caption {
        position: absolute;
        bottom: 0;
        padding: 8px;
        font-size: min(3rem, calc(1rem + 3vw));
        width: 100%;
        text-align: center;
      }
    }
  }

  .about-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-me {
      background-color: var(--bg-colour);
      padding: 16px;
      box-shadow: var(--header-shadow);
    }

    .about-me-title {
      padding: 16px 0;
    }

    .about-me-description {
      font-size: 0.9rem;
      line-height: 2;
    }

    .about-me-icons {
      display: flex;
      justify-content: end;
      gap: 16px;
      padding: 16px;

      img {
        width: 28px;
      }
    }
  }
}

// Load media queries
// Goes at the end
@include media.queries;
